{% from "fields.html" import field as f %}
<div class="user-classification">
    <h1>{{ title }}</h1>
    <form method="post" action="options.php">
        {{ nonce|raw }}
        <table class="form-table" role="presentation">
            {% for field in fields %}
                {% set field = field|merge({
                    'id': domain ~ '_' ~ (field.id ?? field.name),
                    'value': attribute(options, field.name),
                    'name': domain ~ '[' ~ field.name ~ ']',
                }) %}
                <tr>
                    <th>
                        <label for="{{ field.id }}">{{ field.label }}</label>
                    </th>
                    <td>{{ f(field) }}</td>
                </tr>
            {% endfor %}
        </table>
        {{ submit|raw }}
    </form>
</div>
